<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    
      <!-- LOCAL CONNECTION STRING-->
      <!--<add name="TSTConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=TST;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="TSTEntities" connectionString="metadata=res://*/App_Code.TSTModel.csdl|res://*/App_Code.TSTModel.ssdl|res://*/App_Code.TSTModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=TST;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->

      <!-- LIVE CONNECTION STRING - COMMENT OUT AND UNCOMMENT ABOVE TO TEST LOCALLY-->
      <remove name="LocalSqlServer"/>
      <add name="LocalSqlServer" connectionString="Data Source=ulikedragons.db.10882908.hostedresource.com;Initial Catalog=ulikedragons;Integrated Security=False; User ID=ulikedragons; Password=Bullseye0!" providerName="System.Data.SqlClient" />  
      
    <add name="TSTConnectionString" connectionString="Data Source=ulikedragons.db.10882908.hostedresource.com;Initial Catalog=ulikedragons;Integrated Security=False; User ID=ulikedragons; Password=Bullseye0!" providerName="System.Data.SqlClient"/>
    
      <add name="TSTEntities" connectionString="metadata=res://*/App_Code.TSTModel.csdl|res://*/App_Code.TSTModel.ssdl|res://*/App_Code.TSTModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ulikedragons.db.10882908.hostedresource.com;Initial Catalog=ulikedragons;Integrated Security=False; User ID=ulikedragons; Password=Bullseye0!&quot;" providerName="System.Data.EntityClient"/>  
      
  
  </connectionStrings>
  <system.web>
      <customErrors mode="Off"></customErrors>
    <roleManager enabled="true" />
      
      <authentication mode="Forms" >
          <forms loginUrl="~/Default.aspx"></forms>
          
      </authentication>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider"/>
      </buildProviders>
    </compilation>
  </system.web>
</configuration>